@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Montserrat&display=swap');

*{
    margin:0;
    padding: 0;
}

h1{
    font-family: 'Comic Neue', cursive;
    margin-left:80px;
}

p,h2{
    font-family: 'Montserrat', sans-serif;
    /* margin-left:80px; */
}

body {
    font-family: 'Lato', sans-serif;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: -30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .common{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .li{
    margin-left: 100px;
    font-size: 25px;
    margin-top: 50px;
  }

  .li8{
    margin-left: 100px;
    font-size: 20px;
    margin-top: 50px;
  }

  #li{
    margin-left: 100px;
    font-size: 22px;
    margin-top: 23px;
  }

  #all-together{
    width: 200px;
    height: 200px;
    margin-right: 200px;
  }

  #all-together3{
    width: 250px;
    height: 250px;
    margin-top: -60px;
    margin-right: 200px;
    margin-left: 190px;
  }

  #all-together2{
    width: 250px;
    height:250px;
    margin-right: 200px;
    margin-left: 190px;
  }

  .warning{
    display: flex;
    flex-direction: row;
  }

  #p5{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 18px;
  }

  #warning{
    width: 150px;
    margin-left: 50px;
  }

  /* .serious:hover{
    background-color: lightgray;
  } */

  header{
    background-image: url("./assest/symptoms.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-top: 20px;
  }

  @media screen and (max-width:1025px){
    header{
      width: 1025px;
      height: 360px;
    }
    .common{
      display: flex;
      flex-direction: column;
    }
    #h1-1{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-2{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-3{
      margin-top: 50px;
      margin-left: 10px;
    }
    .sym{
      font-size: 30px;
      margin-left: -80px;
    }
    #all-together,#all-together2,#all-together3{
      margin-left: 670px;
      margin-top: 50px;
    }
    #all-together{
      margin-left: 670px;
      margin-top: -150px;
    }
    #all-together2{
      margin-left: 670px;
      margin-top: -300px;
      width: 250px;
    }
    #all-together3{
      margin-left: 670px;
      margin-top: -200px;
    }
    #warning{
      width: 300px;
      height: 300px;
      margin-top: 50px;
      margin-left: -1px;
    }
    #p5{
      margin-top: 120px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 30px;
      font-weight: bolder;
    }
  }

  @media screen and (max-width:768px){
    header{
      width: 920px;
      height: 300px;
    }
    .common{
      display: flex;
      flex-direction: column;
    }
    #h1-1{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-2{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-3{
      margin-top: 50px;
      margin-left: 10px;
    }
    .sym{
      font-size: 30px;
      margin-left: -80px;
    }
    #all-together,#all-together2,#all-together3{
      margin-left: 670px;
      margin-top: 50px;
    }
    #all-together{
      margin-left: 670px;
      margin-top: -150px;
    }
    #all-together2{
      margin-left: 670px;
      margin-top: -300px;
      width: 250px;
    }
    #all-together3{
      margin-left: 670px;
      margin-top: -200px;
    }
    #warning{
      width: 200px;
      height: 150px;
      margin-top: 50px;
      margin-left: -1px;
    }
    #p5{
      margin-top: 100px;
      margin-left: 20px;
      margin-right: -250px;
      font-size: 20px;
      font-weight: bolder;
    }
  }

  @media screen and (max-width:415px){
    header{
      width: 650px;
      height: 240px;
    }
    .common{
      display: flex;
      flex-direction: column;
    }
    #h1-1{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-2{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-3{
      margin-top: 50px;
      margin-left: 10px;
    }
    .sym{
      font-size: 30px;
      margin-left: -80px;
    }
    #all-together,#all-together2,#all-together3{
      margin-left: 150px;
      margin-top: 50px;
    }
    #all-together{
      margin-left: 400px;
      margin-top: -150px;
    }
    #all-together2{
      margin-left: 400px;
      margin-top: -300px;
    }
    #all-together3{
      margin-left: 400px;
      margin-top: -240px;
    }
    #warning{
      width: 300px;
      height: 150px;
      margin-top: 50px;
      margin-left: -1px;
    }
    #p5{
      margin-top: 70px;
      margin-left: 30px;
      margin-right: -200px;
    }
  }

  @media screen and (max-width:400px){
    header{
      height: 270px;
      width: 675px;
    }
    .common{
      display: flex;
      flex-direction: column;
    }
    #h1-1{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-2{
      font-size: 34px;
      margin-left: 10px;
    }
    #h1-3{
      margin-top: 50px;
      margin-left: 10px;
    }
    .sym{
      font-size: 30px;
      margin-left: -80px;
    }
    #all-together,#all-together2,#all-together3{
      margin-left: 150px;
      margin-top: 50px;
    }
    #all-together{
      margin-left: 400px;
      margin-top: -150px;
    }
    #all-together2{
      margin-left: 400px;
      margin-top: -300px;
    }
    #all-together3{
      margin-left: 400px;
      margin-top: -240px;
    }
    #warning{
      width: 300px;
      height: 150px;
      margin-top: 50px;
      margin-left: -1px;
    }
    #p5{
      margin-top: 70px;
      margin-left: 30px;
      margin-right: -200px;
    }
  }